<body class="overzichtpage">
    {{> header}}
<main class="marginbox delete">

    <h4>Search albums from {{artists.name}}</h4>
     <input class="searchdelete" type="text" name="search" id="searchInputAlbum" placeholder="Search...">
     
     <table>
        <tr>
            <th>Name</th>
            <th>Delete</th>
        </tr> 
        {{#each artists.album}} 
            <tr class="album">
                <td><p>{{name}}</p></td>
                <td><form action="/album/artist/{{id}}" method="post"><button type="submit"><img src="../../../assets/img/delete.svg" alt="delete" onclick="return confirm('Weet je zeker dat je dit wilt verwijderen uit het album?')"></button></form></td>
            </tr>        
        {{/each}}
    </table>
</main>
<script>
  
  const searchInputAlbum = document.getElementById('searchInputAlbum');
  searchInputAlbum.addEventListener('input', function() {
    const searchQuery = searchInputAlbum.value.toLowerCase();
    const connectorRows = document.getElementsByClassName('album');
    console.log(searchQuery)
    for (let i = 0; i < connectorRows.length; i++) {
      const connectorName = connectorRows[i].getElementsByTagName('p')[0].textContent.toLowerCase();
      if (connectorName.includes(searchQuery)) {
        connectorRows[i].style.display = 'table-row';
      } else {
        connectorRows[i].style.display = 'none';
      }
    }
  });
   
</script>
</body>









