<body class="overzichtpage">
    {{> header}}
<main class="marginbox delete">    
    <h4>Playlist : {{playlist.name}}</h4>
     
     <table>
        <tr>
            <th>Songs</th>
        </tr> 
        {{#each playlist.song}}
            <tr class="artist">
                <td><p>{{name}}</p></td>
            </tr>  
        {{/each}}      
    </table>
</main>
<script>
  const searchInputSong = document.getElementById('searchInputArtist');
  
  searchInputArtist.addEventListener('input', function() {
    const searchQuery = searchInputArtist.value.toLowerCase();
    const connectorRows = document.getElementsByClassName('artist');
    console.log(searchQuery)
    for (let i = 0; i < connectorRows.length; i++) {
      const connectorName = connectorRows[i].getElementsByTagName('p')[0].textContent.toLowerCase();
      if (connectorName.includes(searchQuery)) {
        connectorRows[i].style.display = 'table-row';
      } else {
        connectorRows[i].style.display = 'none';
      }
    }
  });
  
</script>
</body>









