<section class="auth-container login">
  <div class="login__text">  
  <h1>Welkom</h1>
  <a href="/register">Register</a>
  </div>
  {{>form-errors this}}
  <form method="post" action="login" class="make">
  <p>Meld u aan om verder te gaan</p>
    {{#each inputs}}
      {{>form-input this}}
    {{/each}}
    <div class="remember-forgot">
      <label>
          <input type="checkbox" id="rememberMe">
          Onthoud mij
      </label>
      <a href="mailto: admin@bernardusokan.com">wachtwoord vergeten?</a>
    </div>
      <button  type="submit" class="btn-primary" value="Login"> Login</button> 
  </form>
</section>
</div>