<section class="auth-container register">
  <h4>Upsate user</h4>
  {{>form-errors this}}
  <form method="post" name:"role" >
    {{#each inputs}}
      {{>form-input this}}
    {{/each}}
    <div class="footer-container">
      <input type="reset" class="btn btn-tertiary" value="Clear">
      <input type="submit" class="btn btn-primary" value="Update">
    </div>
  </form>
  {{> upload-file}}
</section>