<section class="auth-container register">
  <div class="register__text"> 
    <h4>Upsate user</h4>
  </div>
  {{>form-errors this}}
  {{> upload-file}}
  <form method="post" name:"role" class="make">
    {{#each inputs}}
      {{>form-input this}}
    {{/each}}
    <div class="footer-container">
      <input type="reset" class="btn btn-tertiary" value="Clear">
      <input type="submit" class="btn btn-primary" value="Update">
    </div>
  </form>
  
</section>