<div  class="uploadHeader" id="uploadHeader">
  <form action="/uploadAvatar" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <label class="text_small" for="avatar">
        <div id="avatarImg" class="avatarImg">
          <img id="preview" class="preview" src="#" alt="Preview" style="display: none;">
          <span>Klik hier om een foto te kiezen</span>
          <div>
            <input type="file" name="avatar" id="avatar" style="display: none;">
          </div>
        </div>
      </label>
    </div>
    <input type="submit" value="Upload">
  </form>
</div>